.pdp-image {
  /* Hide the images by default */
  display: none;

  /* Position the image container (needed to position the left and right arrows) */
  &-container {
    position: relative;

    .row:after {
      clear: both;
      content: "";
      display: table;
    }
    
    /* Six columns side by side */
    .column {
      float: left;
      width: 16.66%;
    }

    /* Number text (1/3 etc) */
    .numbertext {
      color: $gray-600;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
  }

  img {
    width: 100%;
  }
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;

  font-weight: bold;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  opacity: 0.5;

  /* On hover, add opactiry with a little bit see-through */
  &:hover {
    opacity: 1;
  }
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* Add a transparency effect for thumnbail images */
.thumbnail {
  opacity: .6;
  width: 100%;
}

.active,
.thumbnail:hover {
  opacity: 1;
}