.error-body{
    box-sizing: border-box;
    font-size:16px;
  }
  .error-container{
    color:red;
    font-style:italic;
    display: relative;
    justify-content: center;
    margin-top:150px;}
  .error-h1{
    // display: flex;
    // align-items: center;
    text-align: center;
    font-size:6em;
    text-shadow: 0 0 5px purple, 0 0 9px black;
    // @include media-breakpoint-up(sm){
    //   font-size: 1.25em;
    //   text-shadow: 0 0 5px purple, 0 0 9px black;
    // }
    // @include media-breakpoint-up(md){
    // font-size:3em;
    // text-shadow: 0 0 5px purple, 0 0 9px black;}
    // @include media-breakpoint-up(lg){
    //   font-size:5em;
    //   text-shadow: 0 0 5px purple, 0 0 9px black;}
    }
  .error-p {
    font-size: 0.4em;
    text-align: center;
  }
  .ContactUs-in-er-pg {
      text-align: center;
      margin-top: 50px;
  }
  .btn-lg{
      width: 50vw;
      // margin-right: 20px;
  }
  .error-message{
    text-align: center;
    max-width:1200px;
    height:50vh;
    background:gray;
    margin: 0 auto;
    padding-top: 40px;
  }
$width-small: 400px;
$width-medium: 700px;
$width-large: 1200px;
@mixin responsive($width){
@if $width == large-screens {
@media (min-width: $width-medium +1) and (max-width: $width-large) {   .error-message{
    text-align: center;
    // max-width:90%;
    // height:30vh;
    // background:gray;
    // margin: 0 auto;
    padding-top: 40px;
  } }
}
@else if $width == medium-screens {
@media (min-width: $width-small +1) and (max-width: $width-medium) {   .error-message{
    text-align: center;
    // max-width:90%;
    // height:30vh;
    background:gray;
    // margin: 0 auto;
    padding-top: 40px;
  } }
}
@else if $width == medium-screens{
@media only screen and (max-width: $width-small) {   .error-message{
    text-align: center;
    // max-width:90%;
    // height:30vh;
    background:gray;
    // margin: 0 auto;
    padding-top: 40px;
  } }
} }
